<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%= stylesheet_link_tag    'hello_world', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%#= javascript_include_tag 'hello_world', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="../globalStyle.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
